<form class="new-secret" action="<%= secrets_url %>" method="POST">
  <%= auth_token %>
  <label>
    New Secret
    <br>
    <input id="title" type="text" name="secret[title]" value="<%= secret.title %>">
  </label>
  <br>
  <ul class="tagList">
    <%= render "secrets/add_tag" %>
  </ul>
  <button class="addTagButton">Add Tag</button>
  <label>
    Recipient:
    <select name="secret[recipient_id]">
      <% current_user.friends.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label>
  <button>Tell Secret</button>
</form>

<script>
  $(document).ready(function() {
    $(".addTagButton").on("click", function(event) {
      event.preventDefault();
      $(".tagList").append('<%= render("secrets/add_tag").gsub("\n", "").html_safe %>');
    });
  });
</script>

